<!-- Contact Section -->
<section class="page-section" id="contact">
    <div class="container relative">
        
        <h2 class="section-title font-alt mb-70 mb-sm-40">
            Contactanos
        </h2>
        
        <div class="row">
            
            <div class="col-sm-12">
                <div class="row">
                    
                    <!-- Phone -->
                    <div class="col-sm-6 col-lg-3 pt-20 pb-20 pb-xs-0">
                        <div class="contact-item">
                            <div class="ci-icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="ci-title font-alt">
                                Por WhatsApp
                            </div>
                            <div class="ci-text">
                                +52 844 444 1324
                            </div>
                        </div>
                    </div>
                    <!-- End Phone -->
                    
                    <!-- Email -->
                    <div class="col-sm-6 col-lg-3 pt-20 pb-20 pb-xs-0">
                        <div class="contact-item">
                            <div class="ci-icon">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="ci-title font-alt">
                                Por E-mail
                            </div>
                            <div class="ci-text">
                                <a href="mailto:contacto@bullcapital.com.mx">contacto@bullcapital.com.mx</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Email -->
                    
                    <!-- Address -->
                    <div class="col-sm-6 col-lg-3 pt-20 pb-20 pb-xs-0">
                        <div class="contact-item">
                            <div class="ci-icon">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="ci-title font-alt">
                                Visitanos
                            </div>
                            <div class="ci-text">
                                Peras 244, R. de Sayaveedra<br />
                                Saltillo, Coahuila
                            </div>
                        </div>
                    </div>
                    <!-- End Address -->
                    
                    <!-- Opening Time -->
                    <div class="col-sm-6 col-lg-3 pt-20 pb-20 pb-xs-0">
                        <div class="contact-item">
                            <div class="ci-icon">
                                <i class="fa fa-clock-o"></i>
                            </div>
                            <div class="ci-title font-alt">
                                Nuestro Horario
                            </div>
                            <div class="ci-text">
                                Lunes a Viernes: 9am a 5pm <br />
                                Sábado y Domingo: Cerrado
                            </div>
                        </div>
                    </div>
                    <!-- End Opening Time -->
                    
                </div>
            </div>
            
        </div>
        
    </div>
</section>
<!-- End Contact Section -->