<!-- Testimonials Section -->
<section class="page-section bg-scroll bg-dark bg-dark-alfa-70 fullwidth-slider" [style.background-image]="'url(./assets/images/backs/testimonials.jpg)'">
                    
    <!-- Slide Item -->
    <div>
        <div class="container relative">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 align-center">
                    <!-- Section Title -->
                    <h3 class="small-title font-alt">&iquest;Qué dicen de Nosotros?</h3>
                    <blockquote class="testimonial white">
                        <p>
                            Phasellus luctus commodo ullamcorper a posuere rhoncus commodo elit. Aenean congue,
                            risus utaliquam dapibus. Thanks!
                        </p>
                        <footer class="testimonial-author">
                            Alfredo Tristán, TRYSER Multiservice
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <!-- End Slide Item -->
    
    <!-- Slide Item -->
    <div>
        <div class="container relative">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 align-center">
                    <!-- Section Title -->
                    <h3 class="small-title font-alt">&iquest;Qué dicen de Nosotros?</h3>
                    <blockquote class="testimonial white">
                        <p>
                            La idea de tener un socio dio temor por experiencias anteriores, pero con Bull Capital me he sentido en gran confianza y mi agencia va en crecimiento.
                        </p>
                        <footer class="testimonial-author">
                            Fidel Hdz, White Rhino Media
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <!-- End Slide Item -->
    
</section>
<!-- End Testimonials Section -->


<!-- Logotypes Section -->
<section class="small-section bg-gray-lighter pt-20 pb-20">
    <div class="container relative">
        
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                
                <div class="small-item-carousel black owl-carousel mb-0 animate-init" data-anim-type="fade-in-right-large" data-anim-delay="100">
                    
                    <!-- Logo Item -->
                    <div class="logo-item">
                        <img src="./assets/images/clients/client-example.png" width="67" height="67" alt="" />
                    </div>
                    <!-- End Logo Item -->
                    
                    <!-- Logo Item -->
                    <div class="logo-item">
                        <img src="./assets/images/clients/client-example.png" width="67" height="67" alt="" />
                    </div>
                    <!-- End Logo Item -->
                    
                    <!-- Logo Item -->
                    <div class="logo-item">
                        <img src="./assets/images/clients/client-example.png" width="67" height="67" alt="" />
                    </div>
                    <!-- End Logo Item -->
                    
                    <!-- Logo Item -->
                    <div class="logo-item">
                        <img src="./assets/images/clients/client-example.png" width="67" height="67" alt="" />
                    </div>
                    <!-- End Logo Item -->
                    
                    <!-- Logo Item -->
                    <div class="logo-item">
                        <img src="./assets/images/clients/client-example.png" width="67" height="67" alt="" />
                    </div>
                    <!-- End Logo Item -->
                    
                    <!-- Logo Item -->
                    <div class="logo-item">
                        <img src="./assets/images/clients/client-example.png" width="67" height="67" alt="" />
                    </div>
                    <!-- End Logo Item -->
                    
                    <!-- Logo Item -->
                    <div class="logo-item">
                        <img src="./assets/images/clients/client-example.png" width="67" height="67" alt="" />
                    </div>
                    <!-- End Logo Item -->
                    
                    <!-- Logo Item -->
                    <div class="logo-item">
                        <img src="./assets/images/clients/client-example.png" width="67" height="67" alt="" />
                    </div>
                    <!-- End Logo Item -->
                    
                </div>
                    
             </div>
         </div>
        
     </div>
</section>
<!-- End Logotypes -->