<!-- Section -->
<div class="container">
    <section class="page-section bg-scroll bg-dark-alfa-30" [style.background-image]="'url(./assets/images/backs/jobs.jpg)'">
        <div class="relative align-center">
            
            <h1 class="hs-line-11 font-alt mb-0">Empleos</h1>
            
            <div class="mod-breadcrumbs align-center font-alt">
                <a href="/">Inicio</a>&nbsp;/&nbsp;<span>Empleos</span>
            </div>
            
        </div>
    </section>
</div>
<!-- End Section -->