<!-- Section -->
<div class="container">
    <section class="page-section bg-scroll bg-dark-alfa-30" [style.background-image]="'url(./assets/images/backs/bull-capital.jpg)'">
        <div class="relative align-center">
            
            <h1 class="hs-line-11 font-alt mb-0">Bull Capital</h1>
            
            <div class="mod-breadcrumbs align-center font-alt">
                <a href="/">Inicio</a>&nbsp;/&nbsp;<span>Nosotros</span>
            </div>
            
        </div>
    </section>
</div>
<!-- End Section -->

<section class="page-section pt-70 pt-xs-40">
    <div class="container relative">
        
        <div class="section-text mb-20 mb-sm-20">
            <div class="row">
            
                <div class="col-md-4">
                    <blockquote>
                        <p>
                        There's no art to find the mind's construction in the face.
                        </p>
                        <footer>
                            Louis Kahn
                        </footer>
                    </blockquote>
                </div>
                
                <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                    Bull Capital México nace en el año 2008 con el objetivo de ayudar a pequeñas y medianas empresas en temas de estrategia financiera y empresarial para profesionalizar su toma de desiciones y mejorar la rentabilidad del negocio.
                </div>
                
                <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                    Con una experiencia acumulada de más de 10 años en el mercado, y resultados satisfactorios, hemos construido lazos de largo plazo con empresarios de la región que nos permite seguir innovando en metodologías y herramientas para seguir buscando el crecimiento empresarial.
                </div>
                
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->

<!-- Divider -->
<hr class="mt-0 mb-0 "/>
<!-- End Divider -->

<section class="page-section pt-50 pt-xs-40">
    <div class="container relative">
        
        <div class="section-text mb-50 mb-sm-20">
            <div class="row">
            
                <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                    <h3>Misión</h3>
                    <p>Aportar favorablemente a la economía mexicana capacitando a pequeñas y medianas empresas profesionalizando sus procesos que faciliten la toma de desiciones.</p>
                </div>
                
                <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                    <h3>Visión</h3>
                    <p>Para el año 2023, seremos una empresa autónoma y sistematizada para atender mayor cantidad de pequeñas y medianas empresas, convirtiéndonos en un socio estratégico de los empresarios en Coahuila y Nuevo León.</p>
                </div>

                <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                    <h3>Valores</h3>
                    <ul class="values">
                        <li>Asertividad</li>
                        <li>Tenacidad</li>
                        <li>Pasión</li>
                        <li>Lealtad</li>
                        <li>Innovación</li>
                        <li>Empatía</li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
</section>
<!-- End Values -->

<!-- Divider -->
<hr class="mt-0 mb-0 "/>
<!-- End Divider -->

<app-contact></app-contact>