    <!-- Footer -->
    <footer class="small-section bg-gray-lighter footer pb-60">
        <div class="container">
            
            <!-- Footer Widgets -->
            <div class="row align-left">
                
                <!-- Widget -->
                <div class="col-sm-6 col-md-3">
                    <div class="widget">
                        
                        <h5 class="widget-title font-alt">Bull Capital Group</h5>
                        
                        <div class="widget-body">
                            <div class="widget-text clearfix">
                                
                                Purus ut dignissim consectetur, nulla erat ultrices purus, ut consequat sem elit non sem.
                                Quisque magna ante eleifend lorem eleifend. Mauris pretium etere lorem enimet scelerisque.   
                            
                            </div>
                        </div>
                        
                    </div>                            
                </div>
                <!-- End Widget -->
                
                <!-- Widget -->
                <div class="col-sm-6 col-md-3">
                    <div class="widget">
                        
                        <h5 class="widget-title font-alt">Enlaces adicionales</h5>
                        
                        <div class="widget-body">
                            <ul class="clearlist widget-menu">
                                <li>
                                    <a href="#" routerLink="politicas-de-privacidad" title="">Políticas de Privacidad <i class="fa fa-angle-right right"></i></a>
                                </li>
                                <li>
                                    <a href="#" routerLink="empleos" title="">Empleos <i class="fa fa-angle-right right"></i></a>
                                </li>
                                <li>
                                    <a href="#" routerLink="contacto" title="">Contacto <i class="fa fa-angle-right right"></i></a>
                                </li>
                            </ul>
                        </div>
                        
                    </div>                          
                </div>
                <!-- End Widget -->
                
                <!-- Widget -->
                <div class="col-sm-6 col-md-3">
                    <div class="widget">
                        
                        <h5 class="widget-title font-alt">Espacio Disponible</h5>
                        
                    </div>
                    <!-- End Widget -->                        
                </div>
                <!-- End Widget -->
                
                <!-- Widget -->
                <div class="col-sm-6 col-md-3">
                    <div class="widget">
                        
                        <h5 class="widget-title font-alt">Espacio Disponible</h5>
                        
                    </div>                            
                </div>
                <!-- End Widget -->
                
            </div>
            <!-- End Footer Widgets -->
            
            <!-- Divider -->
            <hr class="mt-0 mb-80 mb-xs-40"/>
            <!-- End Divider -->
            
            <!-- Footer Logo -->
            <div class="local-scroll mb-30 wow fadeInUp" data-wow-duration="1.5s">
                <a href="#top"><img src="../../../assets/images/logo-footer.png" width="160" height="75" alt="Bull Capital Group" /><span class="sr-only">Scroll to the top of the page</span></a>
            </div>
            <!-- End Footer Logo -->
            
            <!-- Footer Text -->
            <div class="footer-text">
                
                <!-- Copyright -->
                <div class="footer-copy font-alt">
                    &copy; Bull Capital Group 2021.
                </div>
                <!-- End Copyright -->
                
                <div class="footer-made">
                    <a href="https://www.whiterhinomedia.com/" target="_blank">White Rhino Media</a> - Made with passion for great companies.
                </div>
                
            </div>
            <!-- End Footer Text --> 
            
        </div>
        
        
        <!-- Top Link -->
        <div class="local-scroll">
            <a href="#top" class="link-to-top"><i class="fa fa-caret-up"></i></a>
        </div>
        <!-- End Top Link -->
        
    </footer>
    <!-- End Foter -->


<!-- </div> -->
<!-- End Page Wrap -->

