<!-- Slider -->
<div class="container">
    <div class="fullwidth-slider header-main-slider bg-dark">
        
        <!-- Slide Item -->
        <div class="page-section bg-scroll bg-dark-alfa-30" [style.background-image]="'url(./assets/images/backs/my-bg-1.jpg)'">
            <!-- Slide Content -->
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-1 col-md-5 col-md-offset-1">
                    <div class="hs-line-8 no-transp font-alt mb-30 mb-xs-10">
                        Bull Capital México
                    </div>
                    <h3 class="mb-40 mb-xs-30">
                        Nacimos para fortalecer a las empresas en el país, desarrollando compañías mós sólidas para competir en el entorno globalizado en el que hoy vivimos
                    </h3>
                </div>
            </div>
            <!-- End Slide Content -->
        </div>
        <!-- End Slide Item -->
        
        <!-- Slide Item -->
        <div class="page-section bg-scroll bg-dark-alfa-30" [style.background-image]="'url(./assets/images/backs/my-bg-2.jpg)'">
            <!-- Slide Content -->
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-1 col-md-5 col-md-offset-1">
                    <div class="hs-line-8 no-transp font-alt mb-30 mb-xs-10">
                        Nuestra prioridad es tu negocio
                    </div>
                    <h3 class="mb-40 mb-xs-30">
                        Generamos soluciones de negocios identificando las barreras que impiden el crecimiento de tu empresa.
                    </h3>
                    <div class="local-scroll">
                        <a href="#" class="btn btn-mod btn-border-w btn-circle btn-small">Nosotros</a>
                    </div>
                </div>
            </div>
            <!-- End Slide Content -->
        </div>
        <!-- End Slide Item -->
        
    </div>
</div>
<!-- End Slider -->

<!-- Service Section -->
<section class="page-section pt-30">
    <div class="container relative">
        
        <div class="row multi-columns-row">
            
            <!-- Service Item -->
            <div class="col-sm-6 col-md-4 col-lg-4 mb-md-50 wow fadeIn" data-wow-delay="0.1s" data-wow-duration="2s">
                
                <div class="post-prev-img">
                    <a href="#"><img src="./assets/images/service-1.jpg" alt="" /></a>
                </div>
                
                <div class="post-prev-title font-alt">
                    <a href="#">Servicios empresariales</a>
                </div>
                
                <div class="post-prev-text">
                    Sed id dolor consectetur fermentum nibh volutpat, accumsan lorem ipsumovich purus. 
                </div>
                
                <div class="post-prev-more">
                    <a href="#" class="btn btn-mod btn-gray btn-round">Ver detalles <i class="fa fa-angle-right"></i></a>
                </div>
                
            </div>
            <!-- End Service Item -->
            
            <!-- Service Item -->
            <div class="col-sm-6 col-md-4 col-lg-4 mb-md-50 wow fadeIn" data-wow-delay="0.2s" data-wow-duration="2s">
                
                <div class="post-prev-img">
                    <a href="#"><img src="./assets/images/service-2.jpg" alt="" /></a>
                </div>
                
                <div class="post-prev-title font-alt">
                    <a href="#">Servicios de banca e inversión</a>
                </div>
                
                <div class="post-prev-text">
                    Maecenas  volutpat, diam dolorem consectetur fermentum nibh volutpat, accumsan purus. 
                </div>
                
                <div class="post-prev-more">
                    <a href="#" class="btn btn-mod btn-gray btn-round">Ver detalles <i class="fa fa-angle-right"></i></a>
                </div>
                
            </div>
            <!-- End Service Item -->
            
            <!-- Service Item -->
            <div class="col-sm-6 col-md-4 col-lg-4 mb-md-50 wow fadeIn" data-wow-delay="0.3s" data-wow-duration="2s">
                
                <div class="post-prev-img">
                    <a href="#"><img src="./assets/images/service-3.jpg" alt="" /></a>
                </div>
                
                <div class="post-prev-title font-alt">
                    <a href="#">Nuestra Metodología</a>
                </div>
                
                <div class="post-prev-text">
                    Sed id dolor diam enim sagittis quam sectetur fermentum nibh volutpat, accumsan purus. 
                </div>
                
                <div class="post-prev-more">
                    <a href="#" class="btn btn-mod btn-gray btn-round">Ver detalles <i class="fa fa-angle-right"></i></a>
                </div>
                
            </div>
            <!-- End Service Item -->
            
        </div>
        
    </div>
</section>
<!-- End Service Section -->

<!-- OFRECEMOS -->
<app-we-offer></app-we-offer>

<!-- Portfolio Section -->
<section class="page-section">
    <div class="container relative">
        
        <h2 class="section-title font-alt mb-70 mb-sm-40">
            Casos de Estudio
        </h2>
        
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="section-text align-center mb-70 mb-xs-40">
                    Compartimos con usted algunos de nuestros casos de estudio más significativos y que pueden ayudarlo a ver lo que podemos hacer por usted y su empresa.
                </div>
            </div>
        </div>
        
        <div class="row multi-columns-row mb-30 mb-xs-10">
            
            <!-- Portfolio Item -->
            <div class="col-sm-6 col-md-4 col-lg-4 mb-20 wow fadeIn" data-wow-delay="0.1s" data-wow-duration="2s">
                
                <div class="post-prev-img">
                    <a href="#"><img src="./assets/images/portfolio/1.jpg" alt="" /></a>
                </div>
                
                <div class="post-prev-title font-alt">
                    <a href="">Proyecto 1</a>
                </div>
                
                <div class="post-prev-text">
                    Sed id dolor consectetur fermentum nibh volutpat, accumsan lorem ipsumovich purus. 
                </div>
                
            </div>
            <!-- End Portfolio Item -->
            
            <!-- Portfolio Item -->
            <div class="col-sm-6 col-md-4 col-lg-4 mb-20 wow fadeIn" data-wow-delay="0.2s" data-wow-duration="2s">
                
                <div class="post-prev-img">
                    <a href="#"><img src="./assets/images/portfolio/2.jpg" alt="" /></a>
                </div>
                
                <div class="post-prev-title font-alt">
                    <a href="">Proyecto 2</a>
                </div>
                
                <div class="post-prev-text">
                    Maecenas  volutpat, diam dolorem consectetur fermentum nibh volutpat, accumsan purus. 
                </div>
                
            </div>
            <!-- End Portfolio Item -->
            
            <!-- Portfolio Item -->
            <div class="col-sm-6 col-md-4 col-lg-4 mb-20 wow fadeIn" data-wow-delay="0.3s" data-wow-duration="2s">
                
                <div class="post-prev-img">
                    <a href="#"><img src="./assets/images/portfolio/3.jpg" alt="" /></a>
                </div>
                
                <div class="post-prev-title font-alt">
                    <a href="">Proyecto 3</a>
                </div>
                
                <div class="post-prev-text">
                    Sed id dolor diam enim sagittis quam sectetur fermentum nibh volutpat, accumsan purus. 
                </div>
                
            </div>
            <!-- End Portfolio Item -->
            
        </div>
        
    </div>
</section>
<!-- End Portfolio Section -->

<!-- TESTIMONIOS -->
<app-testimonials></app-testimonials>

<!-- CONTACTO -->
<app-contact></app-contact>
