<!-- Section -->
<section class="page-section bg-gray-lighter">
    <div class="container relative">
        
        <h2 class="section-title font-alt mb-70 mb-sm-40">
            &iquest;Qué podemos ofrecer?
        </h2>
        
        <!-- Features Grid -->

        <!-- *** More free construction icons - http://www.flaticon.com/free-icons/construction_246 *** -->

        <div class="benefits-grid mb-40 mb-xs-20">
            
            <!-- Features Item -->
            <div class="benefit-item">
                <div class="benefit-icon mb-20">
                    <!-- <img src="images/construction/icons/1.png" width="64" height="64" alt="" /> -->
                    <i class="fa fa-search"></i>
                </div>
                <h3 class="benefit-title font-alt">Análisis a Detalle</h3>
                <div class="benefits-descr">
                    Estudiamos su negocio a detalle para dar soluciones puntuales.
                </div>
            </div>
            <!-- End Features Item -->
            
            <!-- Features Item -->
            <div class="benefit-item">
                <div class="benefit-icon mb-20">
                    <!-- <img src="images/construction/icons/2.png" width="64" height="64" alt="" /> -->
                    <i class="fa fa-pie-chart"></i>
                </div>
                <h3 class="benefit-title font-alt">Soluciones Efectivas</h3>
                <div class="benefits-descr">
                    Nuestras soluciones son de efectividad comprobada.
                </div>
            </div>
            <!-- End Features Item -->
            
            <!-- Features Item -->
            <div class="benefit-item">
                <div class="benefit-icon mb-20">
                    <!-- <img src="images/construction/icons/3.png" width="64" height="64" alt="" /> -->
                    <i class="fa fa-users"></i>
                </div>
                <h3 class="benefit-title font-alt">Soporte en el proceso</h3>
                <div class="benefits-descr">
                    Siempre le daremos seguimiento durante todo el proceso.
                </div>
            </div>
            <!-- End Features Item -->
            
            <!-- Features Item -->
            <div class="benefit-item">
                <div class="benefit-icon mb-20">
                    <!-- <img src="images/construction/icons/4.png" width="64" height="64" alt="" /> -->
                    <i class="fa fa-handshake-o"></i>
                </div>
                <h3 class="benefit-title font-alt">Resultados comprobados</h3>
                <div class="benefits-descr">
                    Nuestros resultados hablan por si solos.
                </div>
            </div>
            <!-- End Features Item -->
            
        </div>
        <!-- End Features Grid -->
        
        <div class="align-center">
            <a href="#" class="btn btn-mod btn-large btn-circle">Solicita una cotización</a>
        </div>
        
    </div>
</section>
<!-- End Section -->